<dl class="list-faq">
  <dt class="list-faq__head">
    <span class="list-faq__head-icon">Q1</span>
    <span class="list-faq__head-headline">費用はいくらかかりますか？</span>
  </dt>
  <dd class="list-faq__detail">
    <span class="list-faq__detail-icon">A1</span>
    <span class="list-faq__detail-content">
      <span class="typography2">ご紹介者1名につき、40万円<span class="typography-small">(税別)</span></span>です。<br>
      完全成功報酬制のため、入社を確認するまで費用は一切発生しません。
    </span>
  </dd>
</dl>