<div class="contact1__arrow">
  <img src="{{path '/assets/svg/arrow-down.svg'}}" alt="" class="">
</div>

<section class="contact1">
  <img src="{{path '/assets/img/bg_contact01.jpg'}}" alt="" class="objfit">

  <div class="content_page">
    <h2 class="contact1__headline">CONTACT US</h2>
    <p class="contact1__paragraph">
      クリエイター／エンジニアのポテンシャル採用なら<br>
      トリサンクリエイター関西にお任せください！
    </p>

    {{> @button01 modifier="btn1--mauto"}}
  </div>
</section>