<div class="content_page">
  <div class="layout-flow">
    {{> @box-flow index="1" headline="打ち合わせ<br>求人票の作成"}}
    {{> @box-flow index="2" headline="ポテンシャル人材の推薦<span class=\"box-flow__headline-small\">（書類・ポートフォリオの提出）</span>"}}
    {{> @box-flow index="3" headline="面接"}}
    {{> @box-flow index="4" headline="内定"}}
    {{> @box-flow index="5" headline="入社日"}}
  </div>
</div>