/*************************************************************
*
* カラー
*
*************************************************************/
/*************************************************************
* 背景
*************************************************************/
.bg_gray {
  background-color: #eee;
}
/*************************************************************
* テキスト
*************************************************************/
.color_text_alert {
  color: #f00;
}
.color_text_primary {
  color: $color-primary;
}