/*************************************************************
*
* カラー
*
*************************************************************/
/*************************************************************
* 背景
*************************************************************/
.bg_gray {
  background-color: #F8F8EF;
}
/*************************************************************
* テキスト
*************************************************************/
.color_text_alert {
  color: #D90D0D;
}
.color_text_primary {
  color: $color-primary;
}