/*************************************************************
*
* Grid
*
*************************************************************/
/**************************************************************
*
* フレックス
*
**************************************************************/
/**************************************************************
* フレックスボックス用 共通
**************************************************************/
[class*=" flex_"],
[class^="flex_"] {
  &.__gutters {
    margin-left: calc(-1 * #{$gutters-type1} );
    margin-right: calc(-1 * #{$gutters-type1} );

    & > * {
      padding-left: $gutters-type1;
      padding-right: $gutters-type1;
    }
  }

  /* フレックスアイテム */
  .fitem {}
}
/**************************************************************
* フレックス1
**************************************************************/
.flex_type1 {
  flex-flow: row wrap;
  justify-content: space-between;
}
/**************************************************************
* フレックス2
**************************************************************/
.flex_type2 {
  flex-flow: row wrap;
  justify-content: space-around;
}
/**************************************************************
* フレックス3
**************************************************************/
.flex_type3 {
  flex-flow: row wrap;
}
