<div class="tel1">
  <i class="icon-tel01 tel1__icon" aria-hidden="true"></i>
  <a href="tel:0663146001" class="tel1__detail">
    <div class="tel1__number">
      06-6314-6001
    </div>
    <span class="tel1__subtext">
      受付時間 9：30〜18：80（平日）
    </span>
  </a>
</div>