/*************************************************************
*
* アンカー・リンク関連
*
*************************************************************/
/*************************************************************
* 半透明リンク
*************************************************************/
.hover_alpha {
  transition: opacity 300ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  .hover &:hover,
  &.hover,
  &:focus {
    opacity:0.7;
    zoom:1;
  }
}

/*************************************************************
* フィルター(ブライトネス)リンク
*************************************************************/
.hover_bright {
  transition: filter 500ms cubic-bezier(0.23, 1, 0.32, 1);

  .hover &:hover,
  &.hover,
  &:focus {
    filter: brightness(1.1);
  }
}