<dl class="dlist_type1">
  <dt class="dhead">東京</dt>
  <dd class="ditem">
    〒100-6114 <span class="space">東京都千代田区永田町2-11-1</span> <span class="space">山王パークタワー14F</span><br>
    <span class="space">TEL : 03-5511-1881 /</span> <span class="space">FAX : 03-5511-1884</span>
  </dd>
</dl>