<div class="mainimage">
  <div class="mainimage__detail">
    <div class="mainimage__detail-inner">
      <img src="{{path '/assets/svg/puzzle01.svg'}}" alt="" class="mainimage__puzzle">
      <p class="mainimage__logo">
        <img src="{{path '/assets/svg/logo01.svg'}}" alt="トリサンクリエイター関西">
      </p>
      <h1 class="mainimage__maintext">
        一律<span class="mainimage__maintext-em">40</span>万円<span class="mainimage__maintext-small">(税別)</span>で未来のコア人材の採用を支援！<br>
        トリサンクリエイター関西の<strong class="mainimage__maintext-strong">ポテンシャル採用プラン</strong>
      </h1>

      <dl class="mainimage__dlist">
        <dt class="mainimage__dlist-head">対象職種</dt>
        <dd class="mainimage__dlist-item">Web/DTP</dd>
        <dd class="mainimage__dlist-item">ゲーム</dd>
        <dd class="mainimage__dlist-item">遊技機</dd>
      </dl>

      <p class="mainimage__paragraph">
        『<strong class="typography-bold">ポテンシャル採用プラン</strong>』は、ポテンシャル人材に限定して人材紹介を行う、成功報酬型の特別プランです。紹介手数料は、1名採用につき<strong class="typography-bold">一律40万円</strong><span class="typography-small">(税別)</span>。クリエイティブ職特化の転職エージェント「トリサンクリエイター関西」が、クリエイター・エンジニア採用の成功をサポートします。
      </p>

      {{> @button01 modifier="btn1--mainimage"}}
    </div>
  </div>
  <figure class="mainimage__image">
    <img src="{{path '/assets/img/mainimage_bg.jpg'}}" alt="トリサンクリエイター関西の「ポテンシャル採用プラン」" class="objfit">
  </figure>
</div>

<div class="content_page mainimage__more">
  <a href="#" class="mainimage__more-arrow">
    <img src="{{path '/assets/svg/scroll-more.svg'}}" alt="MORE">
  </a>
</div>

{{> @navigation}}