<footer class="footer" id="footer">
  <div class="content_page">
    <a href="#" class="footer__logo hover_alpha">
      <img src="{{path '/assets/svg/logo01.svg'}}" alt="トリサンクリエイター関西">
    </a>

    <ul class="footer__nav">
      <li class="footer__nav-item">
        <a href="#" target="_blank" class="footer__nav-anchor">運営会社</a>
      </li>
      <li class="footer__nav-item">
        <a href="#" target="_blank" class="footer__nav-anchor">個人情報保護方針/サイトポリシー</a>
      </li>
      <li class="footer__nav-item">
        <a href="#" target="_blank" class="footer__nav-anchor">会社案内</a>
      </li>
    </ul>
  </div>

  <small class="copyright">Copyright © TORISAN CO..LTD All RIGHTS RESERVED.</small>

  <a href="https://www.aura-office.co.jp/" target="_blank" rel="noopener" id="logo_aura" class="hover_alpha"><img  src="{{ path '/assets/img/common/logo_aura.png' }}" alt="ホームページ制作会社 アウラ"></a>
</footer>