<section class="box-feature">
  <div class="box-feature__head">
    <span class="box-feature__icon">
      <span class="box-feature__icon-small">強み</span>
      その１
    </span>
    <h3 class="box-feature__headline">
      開発会社が運営する、<br>
      クリエイター・エンジニア専門の紹介サービス
    </h3>
  </div>
  <p class="box-feature__detail">
    エンターテイメント分野の制作・開発を行う企業が運営する紹介サービス。クリエイターやエンジニアに特化しているため、魅力的なポテンシャル人材の紹介が可能です。
  </p>
</section>