<dl class="box1">
  <dt class="box1__head">
    <i class="icon-puzzle01 box1__head-icon" aria-hidden="true"></i>
    <span class="box1__head-headline">Web・DTP</span>
  </dt>
  <dd class="box1__detail">
    <ul class="box1__list">
      <li class="box1__list-item">
        Webプロデューサー・ディレクター
      </li>
      <li class="box1__list-item">
        Webデザイナー
      </li>
      <li class="box1__list-item">
        Webプログラマ
      </li>
      <li class="box1__list-item">
        コーダー
      </li>
      <li class="box1__list-item">
        3Dデザイナー
      </li>
      <li class="box1__list-item">
        DTPオペレーター
      </li>
      <li class="box1__list-item">
        グラフィックデザイナー<span class="box1__text-small">など</span>
      </li>
    </ul>
  </dd>
</dl>