<div class="radio_box">
	<div class="titem">
		<label>
			<input type="radio" name="name-radio" id="form_contact_name-radio1" class="name-radio" value="項目1">
			<span class="radio"></span>
			<span class="checkboxtext">項目1</span>
		</label>
		<label>
			<input type="radio" name="name-radio" id="form_contact_name-radio2" class="name-radio" value="項目2">
			<span class="radio"></span>
			<span class="checkboxtext">項目2</span>
		</label>
		<label>
			<input type="radio" name="name-radio" id="form_contact_name-radio3" class="name-radio" value="項目3">
			<span class="radio"></span>
			<span class="checkboxtext">項目3</span>
		</label>
		<label>
			<input type="radio" name="name-radio" id="form_contact_name-radio4" class="name-radio" value="項目4">
			<span class="radio"></span>
			<span class="checkboxtext">項目4</span>
		</label>
	</div>
</div>