<div class="content_page">
  <div class="flex_type3 __gutters">
    <div class="fitem fol_pc_4 fol_lp_4 fol_tb_12 fol_sp_12">
      {{> @box02}}
    </div>
    <div class="fitem fol_pc_4 fol_lp_4 fol_tb_12 fol_sp_12">
      {{> @box02}}
    </div>
    <div class="fitem fol_pc_4 fol_lp_4 fol_tb_12 fol_sp_12">
      {{> @box02}}
    </div>
  </div>
</div>