<section class="box2">
  <figure class="box2__image">
    <img src="{{path '/assets/img/img03.jpg'}}" alt="社会人経験あり。専門卒もしくは独学で学んでいる">
  </figure>
  <div class="box2__detail">
    <h3 class="box2__headline">
      社会人経験あり<br>
      専門卒もしくは独学で学んでいる
    </h3>
    <p class="box2__paragraph">
      ポテンシャル人材とは、専門学校や独学で基本知識・スキルを習得した方々。さらに社会人経験があり、ビジネスマナーはもちろん、コミュニケーションスキルも備えた人材です。
    </p>
  </div>
</section>