<ul class="list-check {{modifier}}">
  <li class="list-check__item">
    <span class="list-check__content">
      求人を出しても全然応募がない
    </span>
  </li>
  <li class="list-check__item">
    <span class="list-check__content">
      内定を出しても入社に至らない
    </span>
  </li>
  <li class="list-check__item">
    <span class="list-check__content">
      紹介会社を利用したいが、手数料が高くて迷っている
    </span>
  </li>
</ul>