<ol class="list-point">
  <li class="list-point__item">
    <span class="list-point__head">POINT 1</span>
    <span class="list-point__content">
      ポテンシャル人材は実務経験者の採用に比べて、人材を確保しやすい環境になります。
    </span>
  </li>
  <li class="list-point__item">
    <span class="list-point__head">POINT 2</span>
    <span class="list-point__content">
      ポテンシャル人材＝未来のコア人材。ポテンシャル採用は、戦略的に未来のコア人材を確保する手段であり、今後さらに激化する採用競争に巻き込まれないための最大の対策です。
    </span>
  </li>
</ol>