/* ノーマライズ */
@import 'normalize';

/*************************************************************
*
* 基本スタイル／汎用クラス
*
*************************************************************/
* {
	box-sizing: border-box;
	word-break: normal;
	word-wrap: break-word;
	white-space: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &:before, &:after { box-sizing: border-box; }
}
/* Retinaモニタの際にfont-smoothingを適用 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	html, body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
/************************************************
/* Document
/***********************************************/
html {
  overflow: auto; /* iOS用*/
	height: 100%; /* iOS用*/
}
/************************************************
/* Grouping Content
/***********************************************/
address {
	font-style: normal;
}
/************************************************
/* Text Content
/***********************************************/
h1,h2,h3,h4,h5,h6,strong {
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
	line-height: 1.35;
	font-family: inherit;
	margin: 0;
}
p,li,dt,dd,th,td,pre{
	line-break: strict;
	word-break: break-strict;
	
	margin: 0;
}
a {
  text-decoration: none;
  color: inherit;

  &:focus { outline: none;}
  &:hover,&:active { outline-width: 0;}
}
strong {
  font-weight: normal;
}
button {
  text-align: left;
  padding: 0;
  border-radius: 0;
  border: none;
}
/*************************************************************
* 属性
*************************************************************/
[disabled] {
  cursor: not-allowed;
}
/*************************************************************
* 状態
*************************************************************/
:focus:not(:focus-visible) {
  outline: none;
}