/************************************************
/*
/* All Element
/*
/***********************************************/
/************************************************
/*
/* Document
/*
/***********************************************/
/*
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
}
/************************************************
/*
/* Sections
/*
/***********************************************/
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/************************************************
/*
/* Grouping Content
/*
/***********************************************/

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}


figure {
	margin: 0;
	padding: 0;
}

/************************************************
/*
/* Text Content
/*
/***********************************************/
h1,h2,h3,h4,h5,h6,strong {
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
	line-height: 1.3;
	font-family: inherit;
	margin: 0;
}

p,li,dt,dd,th,td,pre{
	line-break: strict;
	word-break: break-strict;
	
	margin: 0;
}

br {
	letter-spacing:0;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; /* 1 */
}
a:focus { outline: none; }
a:hover,a:active { outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: none; /* 2 */
}

b, strong { font-weight : bold; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn { 
	font-style: normal; 
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
em { font-style: normal; }
small { font-size: inherit; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
/************************************************
/*
/* Embedded Content
/*
/***********************************************/
/**
 * Add the correct display in IE 9-.
 */
audio,video {
	display : inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * 1. Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; /* 1 */
  max-width :100%;
	vertical-align:middle;
	border: 0;
	width: auto;
	height:auto;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}


/************************************************
/*
/* Scripting Content
/*
/***********************************************/
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/************************************************
/*
/* Form Content
/*
/***********************************************/
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, select, textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button,input {
	line-height: normal;
}
button {
	background-color: transparent;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button:focus {
	outline: none;
}

button,
select { /* 1 */
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance:normal; 
	cursor: pointer;
	border: none;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize:none;
}


/************************************************
/*
/* Interactive Content
/*
/***********************************************/
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}


/************************************************
/*
/* Table Content
/*
/***********************************************/
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size:inherit;
}
th {
	font-weight: normal;
}

/************************************************
/*
/* List Content
/*
/***********************************************/
ul, ol, dl {
	list-style: none;
	padding: 0;
	margin: 0;
}

dd {
	margin-left: 0px;
}

/************************************************
/*
/* Hidden
/*
/***********************************************/
[hidden] {
	display: none;
}