@import "../config";

/**************************************************************
*
* 基本スタイル
*
**************************************************************/
main { display: block; }
textarea {white-space: pre;}

/**************************************************************
*
* フレックス
*
**************************************************************/
/**************************************************************
* PC用カラム
**************************************************************/
@media screen and (min-width: #{$container-width}) {
  .fol_pc_1 { max-width: 8.3333333333%; }
  .fol_pc_2 { max-width: 16.6666666666%; }
  .fol_pc_3 { max-width: 25%; }
  .fol_pc_4 { max-width: 33.3333333333%; }
  .fol_pc_5 { max-width: 41.5555555555%; }
  .fol_pc_6 { max-width: 50%; }
  .fol_pc_7 { max-width: 58.1111111111%; }
  .fol_pc_8 { max-width: 66.6666666666%; }
  .fol_pc_9 { max-width: 75%; }
  .fol_pc_10 { max-width: 83%; }
  .fol_pc_11 { max-width: 91.6666666666%; }
  .fol_pc_12 { max-width: 100%; }
  /* カラム間の余白あり */
  .__gutters {
    .fol_pc_1 { max-width: calc(8.3333333333% - #{$gutters-type1} ); }
    .fol_pc_2 { max-width: calc(16.6666666666% - #{$gutters-type1} ); }
    .fol_pc_3 { max-width: calc(25% - #{$gutters-type1} ); }
    .fol_pc_4 { max-width: calc(33.3333333333% - #{$gutters-type1} ); }
    .fol_pc_5 { max-width: calc(41.5555555555% - #{$gutters-type1} ); }
    .fol_pc_6 { max-width: calc(50% - #{$gutters-type1} ); }
    .fol_pc_7 { max-width: calc(58.1111111111% - #{$gutters-type1} ); }
    .fol_pc_8 { max-width: calc(66.6666666666% - #{$gutters-type1} ); }
    .fol_pc_9 { max-width: calc(75% - #{$gutters-type1} ); }
    .fol_pc_10 { max-width: calc(83% - #{$gutters-type1} ); }
    .fol_pc_11 { max-width: calc(91.6666666666% - #{$gutters-type1} ); }
    .fol_pc_12 { max-width: calc(100% - #{$gutters-type1} ); }
  }
}
/**************************************************************
* ラップトップ用カラム
**************************************************************/
@media screen and (max-width: #{$container-width-minus1}) and (min-width: 769px) {
  .fol_lp_1 { max-width: 8.3333333333%; }
  .fol_lp_2 { max-width: 16.6666666666%; }
  .fol_lp_3 { max-width: 25%; }
  .fol_lp_4 { max-width: 33.3333333333%; }
  .fol_lp_5 { max-width: 41.5555555555%; }
  .fol_lp_6 { max-width: 50%; }
  .fol_lp_7 { max-width: 58.1111111111%; }
  .fol_lp_8 { max-width: 66.6666666666%; }
  .fol_lp_9 { max-width: 75%; }
  .fol_lp_10 { max-width: 83%; }
  .fol_lp_11 { max-width: 91.6666666666%; }
  .fol_lp_12 { max-width: 100%; }
  /* カラム間の余白あり */
  .__gutters {
    .fol_lp_1 { max-width: calc(8.3333333333% - #{$gutters-type1} ); }
    .fol_lp_2 { max-width: calc(16.6666666666% - #{$gutters-type1} ); }
    .fol_lp_3 { max-width: calc(25% - #{$gutters-type1} ); }
    .fol_lp_4 { max-width: calc(33.3333333333% - #{$gutters-type1} ); }
    .fol_lp_5 { max-width: calc(41.5555555555% - #{$gutters-type1} ); }
    .fol_lp_6 { max-width: calc(50% - #{$gutters-type1} ); }
    .fol_lp_7 { max-width: calc(58.1111111111% - #{$gutters-type1} ); }
    .fol_lp_8 { max-width: calc(66.6666666666% - #{$gutters-type1} ); }
    .fol_lp_9 { max-width: calc(75% - #{$gutters-type1} ); }
    .fol_lp_10 { max-width: calc(83% - #{$gutters-type1} ); }
    .fol_lp_11 { max-width: calc(91.6666666666% - #{$gutters-type1} ); }
    .fol_lp_12 { max-width: calc(100% - #{$gutters-type1} ); }
  }
}
/**************************************************************
* タブレット用カラム
**************************************************************/
@media screen and (max-width: 768px) and (min-width: 600px) {
  .fol_tb_1 { max-width: 8.3333333333%; }
  .fol_tb_2 { max-width: 16.6666666666%; }
  .fol_tb_3 { max-width: 25%; }
  .fol_tb_4 { max-width: 33.3333333333%; }
  .fol_tb_5 { max-width: 41.5555555555%; }
  .fol_tb_6 { max-width: 50%; }
  .fol_tb_7 { max-width: 58.1111111111%; }
  .fol_tb_8 { max-width: 66.6666666666%; }
  .fol_tb_9 { max-width: 75%; }
  .fol_tb_10 { max-width: 83%; }
  .fol_tb_11 { max-width: 91.6666666666%; }
  .fol_tb_12 { max-width: 100%; }
  /* カラム間の余白あり */
  .__gutters {
    .fol_tb_1 { max-width: calc(8.3333333333% - #{$gutters-type1} ); }
    .fol_tb_2 { max-width: calc(16.6666666666% - #{$gutters-type1} ); }
    .fol_tb_3 { max-width: calc(25% - #{$gutters-type1} ); }
    .fol_tb_4 { max-width: calc(33.3333333333% - #{$gutters-type1} ); }
    .fol_tb_5 { max-width: calc(41.5555555555% - #{$gutters-type1} ); }
    .fol_tb_6 { max-width: calc(50% - #{$gutters-type1} ); }
    .fol_tb_7 { max-width: calc(58.1111111111% - #{$gutters-type1} ); }
    .fol_tb_8 { max-width: calc(66.6666666666% - #{$gutters-type1} ); }
    .fol_tb_9 { max-width: calc(75% - #{$gutters-type1} ); }
    .fol_tb_10 { max-width: calc(83% - #{$gutters-type1} ); }
    .fol_tb_11 { max-width: calc(91.6666666666% - #{$gutters-type1} ); }
    .fol_tb_12 { max-width: calc(100% - #{$gutters-type1} ); }
  }
}
/**************************************************************
* スマホ用カラム
**************************************************************/
@media screen and (max-width: 599px) {
  .fol_sp_1 { max-width: 8.3333333333%; }
  .fol_sp_2 { max-width: 16.6666666666%; }
  .fol_sp_3 { max-width: 25%; }
  .fol_sp_4 { max-width: 33.3333333333%; }
  .fol_sp_5 { max-width: 41.5555555555%; }
  .fol_sp_6 { max-width: 50%; }
  .fol_sp_7 { max-width: 58.1111111111%; }
  .fol_sp_8 { max-width: 66.6666666666%; }
  .fol_sp_9 { max-width: 75%; }
  .fol_sp_10 { max-width: 83%; }
  .fol_sp_11 { max-width: 91.6666666666%; }
  .fol_sp_12 { max-width: 100%; }
  /* カラム間の余白あり */
  .__gutters {
    .fol_sp_1 { max-width: calc(8.3333333333% - #{$gutters-type1} ); }
    .fol_sp_2 { max-width: calc(16.6666666666% - #{$gutters-type1} ); }
    .fol_sp_3 { max-width: calc(25% - #{$gutters-type1} ); }
    .fol_sp_4 { max-width: calc(33.3333333333% - #{$gutters-type1} ); }
    .fol_sp_5 { max-width: calc(41.5555555555% - #{$gutters-type1} ); }
    .fol_sp_6 { max-width: calc(50% - #{$gutters-type1} ); }
    .fol_sp_7 { max-width: calc(58.1111111111% - #{$gutters-type1} ); }
    .fol_sp_8 { max-width: calc(66.6666666666% - #{$gutters-type1} ); }
    .fol_sp_9 { max-width: calc(75% - #{$gutters-type1} ); }
    .fol_sp_10 { max-width: calc(83% - #{$gutters-type1} ); }
    .fol_sp_11 { max-width: calc(91.6666666666% - #{$gutters-type1} ); }
    .fol_sp_12 { max-width: calc(100% - #{$gutters-type1} ); }
  }
}