<aside class="aside">
	<h3 class="headline">カテゴリ</h3>

	<ul class="list list_divide">
		<li class="litem">
			<a href="#">名物スタッフご紹介</a>
		</li>
		<li class="litem">
			<a href="#">最新＆おすすめメニュー</a>
		</li>
		<li class="litem">
			<a href="#">店舗についてのお知らせ</a>
		</li>
	</ul>

	<h3 class="headline">最新記事</h3>

	<div class="list list_news">
		<article class="litem">
			<header class="head">
				<a href="#" class="hover_alpha image"><img src="http://placehold.jp/300x225.png" alt=""></a>
				<time datetime="2018-09-29" class="date">2018年9月29日</time>
			</header>
			<ul class="container_category">
				<li><a href="#" class="unit_category hover_alpha">名物スタッフご紹介</a></li>
			</ul>
			<h3><a href="#" class="headline">ISOGAMIの「映え」な餃子はオレが作る！</a></h3>
		</article>
		
		<article class="litem">
			<header class="head">
				<a href="#" class="hover_alpha image"><img src="http://placehold.jp/300x225.png" alt=""></a>
				<time datetime="2018-09-29" class="date">2018年9月29日</time>
			</header>
			<ul class="container_category">
				<li><a href="#" class="unit_category hover_alpha">名物スタッフご紹介</a></li>
			</ul>
			<h3><a href="#" class="headline">ISOGAMIの「映え」な餃子はオレが作る！</a></h3>
		</article>

		<article class="litem">
			<header class="head">
				<a href="#" class="hover_alpha image"><img src="http://placehold.jp/300x225.png" alt=""></a>
				<time datetime="2018-09-29" class="date">2018年9月29日</time>
			</header>
			<ul class="container_category">
				<li><a href="#" class="unit_category hover_alpha">名物スタッフご紹介</a></li>
			</ul>
			<h3><a href="#" class="headline">ISOGAMIの「映え」な餃子はオレが作る！</a></h3>
		</article>

		<article class="litem">
			<header class="head">
				<a href="#" class="hover_alpha image"><img src="http://placehold.jp/300x225.png" alt=""></a>
				<time datetime="2018-09-29" class="date">2018年9月29日</time>
			</header>
			<ul class="container_category">
				<li><a href="#" class="unit_category hover_alpha">名物スタッフご紹介</a></li>
			</ul>
			<h3><a href="#" class="headline">ISOGAMIの「映え」な餃子はオレが作る！</a></h3>
		</article>

		<article class="litem">
			<header class="head">
				<a href="#" class="hover_alpha image"><img src="http://placehold.jp/300x225.png" alt=""></a>
				<time datetime="2018-09-29" class="date">2018年9月29日</time>
			</header>
			<ul class="container_category">
				<li><a href="#" class="unit_category hover_alpha">名物スタッフご紹介</a></li>
			</ul>
			<h3><a href="#" class="headline">ISOGAMIの「映え」な餃子はオレが作る！</a></h3>
		</article>
	</div>

	<h3 class="headline">月別アーカイブ</h3>

	<ul class="list list_divide">
		<li class="litem">
			<a href="#">2018年12月</a>
		</li>
		<li class="litem">
			<a href="#">2018年11月</a>
		</li>
		<li class="litem">
			<a href="#">2018年10月</a>
		</li>
	</ul>
</aside>