<div class="mainimage sub">
	<img src="{{ path '/assets/img/business/ramen-kiou/mainimage.jpg' }}" alt="" class="objfit">
  <div class="container">
    <h2 class="headline">
      ページタイトル
    </h2>
  </div>
</div>