<section class="contact2">
  <figure class="contact2__image">
    <img src="{{path '/assets/img/bg_contact02.jpg'}}" alt="トリサンクリエイター関西へのお問い合わせ" class="objfit">
  </figure>
  <div class="contact2__detail">
    <h2 class="contact2__headline">
      経験豊富な担当者が採用のさまざまな<br class="over_tb_none">お悩みにお応えします。<span class="under_sp_none"><br>
      ポテンシャル採用は、トリサンクリエイター関西にお任せください！</span>
    </h2>
    <ul class="contact2__list">
      <li class="contact2__list-item">
        <i class="icon-check01 contact2__list-icon" aria-hidden="true"></i>
        <span class="contact2__list-content">
          キャリアチェンジ（未経験）の採用は、見極めが難しい
        </span>
      </li>
      <li class="contact2__list-item">
        <i class="icon-check01 contact2__list-icon" aria-hidden="true"></i>
        <span class="contact2__list-content">
          未経験者の採用実績がないため、条件面の相場が分からない
        </span>
      </li>
      <li class="contact2__list-item">
        <i class="icon-check01 contact2__list-icon" aria-hidden="true"></i>
        <span class="contact2__list-content">
          同業他社との人材の奪い合いで、採用がなかなか進んでいない
        </span>
      </li>
      <li class="contact2__list-item">
        <i class="icon-check01 contact2__list-icon" aria-hidden="true"></i>
        <span class="contact2__list-content">
          ポテンシャル採用には、経験者採用ほど予算をかけられない
        </span>
      </li>
    </ul>
    <p class="contact2__arrow">
      <img src="{{path '/assets/img/text03.png'}}" alt="「ポテンシャル採用プラン」ならこれらの課題を一度に解決！">
    </p>
    <a href="#" class="contact2__btn hover_alpha">
      <div class="contact2__btn-detail">
        <span class="contact2__btn-headline">
          1名につき一律40万円<span class="contact2__btn-headline-small">(税別)</span>
        </span>
        <span class="contact2__btn-subtext">
          ポテンシャル採用を控えていた企業様は、<br class="over_tb_none">今がチャンスです！
        </span>
      </div>
      <div class="contact2__btn1">
        相談する
        <span class="contact2__btn1-small">(無料)</span>
        <i class="icon-arrow01 contact2__btn1-icon" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</section>