<section class="box-flow">
  <span class="box-flow__index">
    <span class="box-flow__index-current">{{index}}</span>/5
  </span>
  <figure class="box-flow__image">
    <img src="{{path '/assets/img/icon_service01.png'}}" alt="打ち合わせ、求人票の作成">
  </figure>
  <h3 class="box-flow__headline hgp_pc_flow">
    {{{headline}}}
  </h3>
  <p class="box-flow__paragraph">
    求める人材のスキルや人物像をはじめ、採用ターゲットの詳細を確認。企業理解を深めたうえで、登録者に企業と仕事の魅力を伝える求人票を作成します。
  </p>
</section>