<div class="box4">
  <h2 class="box4__headline">企業の採用担当者が抱える問題</h2>

  <div class="box4__detail">
    {{> @list-check modifier="block_paragraph"}}

    <p class="box4__subtext">
      人材確保が予定通り進まなければ、<br>
      事業にも影響が出てくる恐れが…
    </p>
  </div>
</div>